<?xml version="1.0"?>

<launch>
    
    <!-- start the image data converter -->
    <!-- <node name="ImageDataConverter" pkg="thyroid_ultrasound_imaging" type="ImageDataConverter.py" /> -->

    <!-- start the image filter -->
    <node name="RealTimeImageFilter" pkg="thyroid_ultrasound_imaging" type="RealTimeImageFilterNode.py" />

    <!-- start the image visualization node -->
    <node name="Visualizer" pkg="thyroid_ultrasound_imaging" type="VisualizationNode.py" />
    
    <!-- start the image based user input node -->
    <node name="ImageBasedUserInput" pkg="thyroid_ultrasound_imaging" type="ImageBasedUserInput.py" />
    
    <!-- start the image base position control node -->
    <node name="ImagePositioningController" pkg="thyroid_ultrasound_imaging" type="ImagePositioningControllerNode.py" />
    
    <!-- start the image base position control node -->
    <node name="ImagePositionRegistration" pkg="thyroid_ultrasound_imaging" type="ImagePositionRegistrationNode.py" />
    
    <!-- start the image contact balance node -->
    <node name="ImageContactBalancing" pkg="thyroid_ultrasound_imaging" type="ImageContactBalanceNode.py" />
    
    <!-- start the non-real-time image filter -->
    <node name="NonRealTimeImageFilter" pkg="thyroid_ultrasound_imaging" type="NonRealTimeImageFilterNode.py" />
    
    <!-- start the volume generation node -->
    <node name="VolumeGeneration" pkg="thyroid_ultrasound_imaging" type="VolumeGenerationNode.py" />

</launch>
